<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>${title}</title>
<script src="@{/js/jquery-3.6.1.min.js}"></script>
<script src="@{/js/moment-with-locales.js}"></script>
<script src="@{/summernote-0.8.18-dist/summernote-lite.js}"></script>
<script src="@{/summernote-0.8.18-dist/lang/summernote-ko-KR.min.js}"></script>
<link rel="stylesheet" href="@{/summernote-0.8.18-dist/summernote-lite.css}">  <!-- css는 link로~ -->
</head>
<body>

      <div>
         <h1>Welcome To My Blog</h1>
      </div>
      
</body>
</html>